<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Uang Cerdas </title>
    <!-- /Required meta tags -->

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <!-- /Favicon -->

    <!-- All CSS -->

    <!-- Vendor Css -->
    <link rel="stylesheet" href="/static/assets/css/vendors.css">
    <!-- /Vendor Css -->

    <!-- Plugin Css -->
    <link rel="stylesheet" href="/static/assets/css/plugins.css">
    <!-- Plugin Css -->

    <!-- Icons Css -->
    <link rel="stylesheet" href="/static/assets/css/icons.css">
    <!-- /Icons Css -->

    <!-- Style Css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <!-- /Style Css -->

    <!-- /All CSS -->

</head>

<body>

    <!-- PreLoader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner"></div>
        </div>
    </div>
    <!--Preloader-->

    <!-- Header -->
    <div class="navbar-area">
        <div class="acavo-responsive-nav">
            <!-- Container -->
            <div class="container">
                <div class="acavo-responsive-menu">
                    <div class="logo">
                        <a href="/">
                            <img src="/static/assets/images/logo.png" width=200 height=130 alt="logo">
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </div>
        <div class="acavo-nav">
            <!-- Container -->
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="/">
                        <img src="/static/assets/images/logo.png" width=200 height=130 alt="logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="/" class="nav-link">Home</a>
                                
                            </li>

                            <li class="nav-item"><a href="/about" class="nav-link">About Us</a>
                                
                            </li>
                            <li class="nav-item"><a href="/pencatatan" class="nav-link active">Pencatatan<i
                                class='las la-angle-down'></i></a>
                                <ul class="dropdown-menu">
                                    {% if login %}
                                    <li class="nav-item"><a href="/pencatatan" class="nav-link active">Tambah catatan</a></li>
                                    <li class="nav-item"><a href="/lihat_catatan" class="nav-link">Lihat catatan</a></li>
                                    {% else %}
                                    <li class="nav-item"><a href="/login" class="nav-link">Tambah catatan</a></li>
                                    <li class="nav-item"><a href="/login" class="nav-link">Lihat catatan</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="nav-item"><a href="/analisis_pemasukkan" class="nav-link">Analisis<i
                                        class='las la-angle-down'></i></a>
                                <ul class="dropdown-menu">
                                    {% if login %}
                                    <li class="nav-item"><a href="/analisis_pemasukkan" class="nav-link">Analisis Pemasukkan</a></li>
                                    <li class="nav-item"><a href="/analisis_pengeluaran" class="nav-link">Analisis Pengeluaran</a></li>
                                    <li class="nav-item"><a href="/analisis_tabungan" class="nav-link">Analisis Tabungan</a></li>
                                    {% else %}
                                    <li class="nav-item"><a href="/login" class="nav-link">Analisis Pemasukkan</a></li>
                                    <li class="nav-item"><a href="/login" class="nav-link">Analisis Pengeluaran</a></li>
                                    <li class="nav-item"><a href="/login" class="nav-link">Analisis Tabungan</a></li>
                                    {% endif %}
                                </ul>
                            </li>

                            <li class="nav-item"><a href="/prediksi_pemasukkan" class="nav-link">Prediksi <i class='las la-angle-down'></i></a>
                                <ul class="dropdown-menu">
                                    {% if login %}
                                    <li class="nav-item"><a href="/prediksi_pemasukkan" class="nav-link">Prediksi Pemasukkan</a></li>
                                    <li class="nav-item"><a href="/prediksi_pengeluaran" class="nav-link">Prediksi Pengeluaran</a></li>
                                    <li class="nav-item"><a href="/prediksi_tabungan" class="nav-link">Prediksi Tabungan</a></li>
                                    {% else %}
                                    <li class="nav-item"><a href="/login" class="nav-link">Prediksi Pemasukkan</a></li>
                                    <li class="nav-item"><a href="/login" class="nav-link">Prediksi Pengeluaran</a></li>
                                    <li class="nav-item"><a href="/login" class="nav-link">Prediksi Tabungan</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            {% if login %}
                            <li class="nav-item"><a href="/profile/{{ username }}" class="nav-link">Profile <i class='las la-angle-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a href="/profile/{{ username }}" class="nav-link">Profile</a></li>
                                    <li class="nav-item"><a href="/logout" class="nav-link">Log Out</a></li>
                                </ul>
                            {% else %}
                            <li class="nav-item"><a href="/login" class="nav-link">Login</a>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- /Container -->
        </div>
        <div class="others-option-for-responsive">

        </div>
        <div class="others-option-for-responsive"><div></div></div>
    </div>
    <!-- /Header -->

    <!-- Breadcrumb -->
    <div class="banner-section position-relative">
        <!-- Container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col  -->
                <div class="col-md-6">
                    <div class="banner-content banner-padding">
                        <h3 class="title">Pencatatan</h3>
                        <p>Halaman ini tempat menyimpan catatan pemasukkan, pengeluaran, dan tabungan anda yang kemudian bisa dianalisis dan diprediksi kedepan tentang 
                            pemasukkan, pengeluaran, dan tabungan anda.
                        </p>
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-6 mt-7 mt-md-0">
                    <div class="banner-content scene banner-img">
                        <div data-depth="0.2">
                            <img src="/static/assets/images/bg/6.png" alt="img" />
                        </div>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Breadcrumb -->

    <!-- Loan Form -->
    <div class="loan-form-area pt-100 pb-100">
        <!-- Container -->
        <div class="container">
            <!-- row -->
            <div class="row justify-content-center text-center">
                <!-- col -->
                <div class="col-lg-8 col-md-12 mb-50">
                    <div class="section-title">
                        <h2 class="title">Tambah Catatan</h2>
                        <div class="title-bdr">
                            <div class="left-bdr"></div>
                            <div class="right-bdr"></div>
                        </div>
                        <p>Tambah catatan pemasukkan, pengeluaran, dan tabungan anda dalam form dibawah ini.</p>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

            <div class="loan-form">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <script>
                        {% for message in messages %}
                            alert('{{ message }}');
                        {% endfor %}
                        </script>
                    {% endif %}
                {% endwith %}

                <form action="/pencatatan" method="POST">
                    <!--row -->
                    <div class="row">
                        <!-- col -->
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Tanggal</label>
                                <input type="text" class="form-control" name="tanggal" placeholder="dd/mm/yy">
                            </div>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Pemasukkan</label>
                                <input type="number" class="form-control" name="pemasukkan" placeholder="Pemasukkan">
                            </div>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Pengeluaran</label>
                                <input type="number" class="form-control" name="pengeluaran" placeholder="Pengeluaran">
                            </div>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Tabungan</label>
                                <input type="number" class="form-control" name="tabungan" placeholder="Tabungan">
                            </div>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-12">
                            <div class="banner-form-btn">
                                <button type="submit" class="default-btn">
                                    Submit
                                </button>
                            </div>
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->
                </form>
            </div>
        </div>
        <!-- /Container -->
    </div>
    <!-- /Loan Form -->


    <!-- Footer -->
    <footer class="footer-style bg-gray-100 pt-200">
        <!-- Container -->
        <div class="container">
            
            <div class="footer-middle-area mt-30 pb-30 pt-60">
                <!-- row -->
                <div class="row">
                    <!-- col -->
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-wrapper mb-30">
                            <h3 class="footer-title">About Us</h3>
                            <div class="footer-text">
                                <p>Dengan pencatatan, analisis, dan prediksi keuangan anda, kami berharap dapat membantu anda dalam melakukan pengelolaan keuangan anda </p>
                            </div>
                            <div class="footer-icon">
                                <a href="https://www.facebook.com/profile.php?id=100023804071745"><i class="uil uil-facebook-f"></i></a>
                                <a href="https://twitter.com/DhoniHanif"><i class="uil uil-twitter"></i></a>
                                <a href="https://www.instagram.com/dhoni_hanif/"><i class="uil uil-instagram-alt"></i></a>
                                <a href="https://www.youtube.com/channel/UCcoMAmHT-tJEGo0uIt15W_w"><i class="uil uil-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-wrapper mb-30">
                            <h3 class="footer-title">Services</h3>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="/pencatatan">Pencatatan</a></li>
                                    <li><a href="/analisis_pemasukkan">Analisis</a></li>
                                    <li><a href="/prediksi_pemasukkan">Prediksi</a></li>
                                    <li><a href="/about">About Us</a></li>
                                </ul>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <!-- /col -->
                    
                </div>
                <!-- /row -->
            </div>
            
        </div>
        <!-- /Container -->
    </footer>
    <!-- /Footer -->

    <!-- Go top -->
    <div class="go-top-area">
        <div class="go-top-wrap">
            <div class="go-top-btn-wrap">
                <div class="go-top go-top-btn">
                    <i class="las la-angle-double-up"></i>
                    <i class="las la-angle-double-up"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- /Go top -->

    <!-- JS -->

    <!-- Vendor Js -->
    <script src="/static/assets/js/vendors.js"></script>
    <!-- /Vendor js -->

    <!-- Plugins Js -->
    <script src="/static/assets/js/plugins.js"></script>
    <!-- /Plugins Js -->

    <!-- Main JS -->
    <script src="/static/assets/js/main.js"></script>
    <!-- /Main JS -->

    <!-- /JS -->

</body>

</html>