<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Uang Cerdas </title>
    <!-- /Required meta tags -->

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <!-- /Favicon -->

    <!-- All CSS -->

    <!-- Vendor Css -->
    <link rel="stylesheet" href="/static/assets/css/vendors.css">
    <!-- /Vendor Css -->

    <!-- Plugin Css -->
    <link rel="stylesheet" href="/static/assets/css/plugins.css">
    <!-- Plugin Css -->

    <!-- Icons Css -->
    <link rel="stylesheet" href="/static/assets/css/icons.css">
    <!-- /Icons Css -->

    <!-- Style Css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <!-- /Style Css -->

    <!-- /All CSS -->

</head>

<body>

    <!-- PreLoader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner"></div>
        </div>
    </div>
    <!--Preloader-->

    <!-- Header -->
    <div class="navbar-area">
        <div class="acavo-responsive-nav">
            <!-- Container -->
            <div class="container">
                <div class="acavo-responsive-menu">
                    <div class="logo">
                        <a href="/">
                            <img src="/static/assets/images/logo.png" width=200 height=130 alt="logo">
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </div>
        <div class="acavo-nav">
            <!-- Container -->
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="/">
                        <img src="/static/assets/images/logo.png" width=200 height=130 alt="logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu">
                        {% if username != "Admin"%}
                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="/" class="nav-link active">Home</a>
                                
                            </li>

                            <li class="nav-item"><a href="/about" class="nav-link">About Us</a>
                                
                            </li>
                            <li class="nav-item"><a href="/pencatatan" class="nav-link">Pencatatan<i
                                class='las la-angle-down'></i></a>
                                <ul class="dropdown-menu">
                                    {% if login %}
                                    <li class="nav-item"><a href="/pencatatan" class="nav-link">Tambah catatan</a></li>
                                    <li class="nav-item"><a href="/lihat_catatan" class="nav-link">Lihat catatan</a></li>
                                    {% else %}
                                    <li class="nav-item"><a href="/login" class="nav-link">Tambah catatan</a></li>
                                    <li class="nav-item"><a href="/login" class="nav-link">Lihat catatan</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="nav-item"><a href="/analisis_pemasukkan" class="nav-link">Analisis<i
                                        class='las la-angle-down'></i></a>
                                <ul class="dropdown-menu">
                                    {% if login %}
                                    <li class="nav-item"><a href="/analisis_pemasukkan" class="nav-link">Analisis Pemasukkan</a></li>
                                    <li class="nav-item"><a href="/analisis_pengeluaran" class="nav-link">Analisis Pengeluaran</a></li>
                                    <li class="nav-item"><a href="/analisis_tabungan" class="nav-link">Analisis Tabungan</a></li>
                                    {% else %}
                                    <li class="nav-item"><a href="/login" class="nav-link">Analisis Pemasukkan</a></li>
                                    <li class="nav-item"><a href="/login" class="nav-link">Analisis Pengeluaran</a></li>
                                    <li class="nav-item"><a href="/login" class="nav-link">Analisis Tabungan</a></li>
                                    {% endif %}
                                </ul>
                            </li>

                            <li class="nav-item"><a href="/prediksi_pemasukkan" class="nav-link">Prediksi <i class='las la-angle-down'></i></a>
                                <ul class="dropdown-menu">
                                    {% if login %}
                                    <li class="nav-item"><a href="/prediksi_pemasukkan" class="nav-link">Prediksi Pemasukkan</a></li>
                                    <li class="nav-item"><a href="/prediksi_pengeluaran" class="nav-link">Prediksi Pengeluaran</a></li>
                                    <li class="nav-item"><a href="/prediksi_tabungan" class="nav-link">Prediksi Tabungan</a></li>
                                    {% else %}
                                    <li class="nav-item"><a href="/login" class="nav-link">Prediksi Pemasukkan</a></li>
                                    <li class="nav-item"><a href="/login" class="nav-link">Prediksi Pengeluaran</a></li>
                                    <li class="nav-item"><a href="/login" class="nav-link">Prediksi Tabungan</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            {% if login %}
                            <li class="nav-item"><a href="/profile/{{ username }}" class="nav-link">Profile <i class='las la-angle-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a href="/profile/{{ username }}" class="nav-link">Profile</a></li>
                                    <li class="nav-item"><a href="/logout" class="nav-link">Log Out</a></li>
                                </ul>
                                
                            {% else %}
                            <li class="nav-item"><a href="/login" class="nav-link">Login</a>
                            {% endif %}
                        </ul>
                        {% else %}
                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="/" class="nav-link active">Home</a>
                                
                            </li>

                            <li class="nav-item"><a href="/about" class="nav-link">About Us</a>
                                
                            </li>
                            <li class="nav-item"><a href="/lihat_premium" class="nav-link">Premium</a>
                            </li>
                            {% if login %}
                            <li class="nav-item"><a href="/logout" class="nav-link">Log Out</a>
                            {% else %}
                            <li class="nav-item"><a href="/login" class="nav-link">Login</a>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                </nav>
            </div>
            <!-- /Container -->
        </div>
        <div class="others-option-for-responsive">

        </div>
        <div class="others-option-for-responsive"><div></div></div>
    </div>
    <!-- /Header -->

    <!-- Hero -->
    <div class="hero-1 oh pos-rel">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row align-items-center">
                <!-- col -->
                <div class="col-lg-5">
                    <div class="hero-1-content wow fadeInLeft animated">
                        <h5 class="cate  wow fadeInUp animated" data-wow-delay="0.2s">Uang Cerdas</h5>
                        <h1 class="title  wow fadeInUp animated" data-wow-delay="0.4s">Hidup Hemat Membawa Berkah</h1>
                        <p class=" wow fadeInUp animated" data-wow-delay="0.6s">
                            Mari Analisis dan Prediksi Pengeluaran dan Pemasukkanmu
                        </p>
                        <div class="hero-1-button-group">
                            <a href="#" class="btn theme-btn-1  wow fadeInUp animated" data-wow-delay="0.8s"> Get
                                Started
                                <i class="uil uil-angle-right-b ml-2 mb-2"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-7 d-lg-block">
                    <div class="hero-1-thumb-15 wow fadeInUp animated" data-wow-delay="0.4s">
                        <img class="img-fluid wow fadeInRight animated" src="/static/assets/images/hero/hero-1.png" alt="hero-1">
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <div class="col-lg-8 col-md-12 mb-50">
        
    </div>
    <!-- /Hero -->

    <!-- Featured box -->
    <div class="featured-boxes-area">
        <!-- Container -->
        <div class="container">
            <div class="featured-boxes-inner">
                {% if username != "Admin"%}
                <!-- row -->
                <div class="row m-0">
                    <!-- col -->
                    <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                        <div class="single-featured-box">
                            <div class="icon color-fb7756">
                                <i class="la-notes-medical"></i>
                            </div>
                            <h3>Pencatatan</h3>
                            <p>Mencatat semua pengeluaran, pemasukkan, dan tabungan anda</p>
                            <a href="/catatan_pemasukkan" class="read-more-btn">Read More</a>
                        </div>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                        <div class="single-featured-box">
                            <div class="icon color-facd60">
                                <i class="ri-currency-line"></i>
                            </div>
                            <h3>Analisis</h3>
                            <p>Menganalisis semua pengeluaran, pemasukkan, dan tabungan anda dengan tampilan data visualization</p>
                            <a href="/analisis_pemasukkan" class="read-more-btn">Read More</a>
                        </div>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                        <div class="single-featured-box">
                            <div class="icon color-1ac0c6">
                                <i class="ri-coin-line"></i>
                            </div>
                            <h3>Prediksi</h3>
                            <p>Memprediksi semua pengeluaran, pemasukkan, dan tabungan anda kedepan berdasarkan data historisnya.</p>
                            <a href="/prediksi_pemasukkan" class="read-more-btn">Read More</a>
                        </div>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                        <div class="single-featured-box">
                            <div class="icon">
                                <i class="ri-shield-keyhole-line"></i>
                            </div>
                            <h3>Keamanan dan Privasi</h3>
                            <p>Kami akan selalu menjaga data dan privasi pengguna</p>
                            <a href="#" class="read-more-btn">Read More</a>
                        </div>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
                {% else %}
                <!-- row -->
                <div class="row m-0">
                    <!-- col -->
                    <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                        <div class="single-featured-box">
                            <div class="icon color-fb7756">
                                <i class="la-notes-medical"></i>
                            </div>
                            <h3>Home</h3>
                            <p>Halaman utama dari website ini.</p>
                            <a href="/" class="read-more-btn">Read More</a>
                        </div>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                        <div class="single-featured-box">
                            <div class="icon color-facd60">
                                <i class="ri-currency-line"></i>
                            </div>
                            <h3>About Us</h3>
                            <p>Menceritakan visi misi pembuatan website ini.</p>
                            <a href="/about" class="read-more-btn">Read More</a>
                        </div>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                        <div class="single-featured-box">
                            <div class="icon color-1ac0c6">
                                <i class="ri-coin-line"></i>
                            </div>
                            <h3>Premium</h3>
                            <p>Mengecek dan menerima permintaan premium dari member.</p>
                            <a href="/lihat_premium" class="read-more-btn">Read More</a>
                        </div>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                        <div class="single-featured-box">
                            <div class="icon">
                                <i class="ri-shield-keyhole-line"></i>
                            </div>
                            <h3>Keamanan dan Privasi</h3>
                            <p>Kami akan selalu menjaga data dan privasi pengguna</p>
                            <a href="#" class="read-more-btn">Read More</a>
                        </div>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
                {% endif %}
            </div>
        </div>
        <!-- /Container -->
    </div>
    <!-- /Featured box -->

    <!-- About Us -->
    <div class="about-area pt-100 pb-100">
        <!-- Container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-lg-6 align-self-center">
                    <div class="mb-20">
                        <img src="/static/assets/images/bg/about.png" class="img-fluid  wow fadeInLeft animated" data-wow-delay="0.2s"
                            alt="image">
                    </div>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-6">
                    <div class="about-content warp">
                        <!-- row -->
                        <div class="row justify-content-center text-center">
                            <!-- col -->
                            <div class="col-lg-8 col-md-12 mb-50">
                                <div class="section-title">
                                    <h2 class="title">About Us</h2>
                                    <div class="title-bdr">
                                        <div class="left-bdr"></div>
                                        <div class="right-bdr"></div>
                                    </div>
                                    <p>Kami memudahkan pengguna dalam pencatatan keuangan, 
                                        memberikan analisis yang berguna dan membantu dalam perencanaan keuangan jangka panjang</p>
                                </div>
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /row -->
                        <strong>Dengan pencatatan, analisis, dan prediksi keuangan anda, kami berharap dapat membantu anda dalam melakukan pengelolaan keuangan anda</strong>
                        

                        <div class="about-btn justify-content-center text-center">
                            <a href="#" class="btn theme-btn-1">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /About Us -->

    <!-- Testimonial -->
    <div class="testimonial-area pt-100 pb-100">
        <!-- Container -->
        <div class="container">
            <!-- row -->
            <div class="row justify-content-center text-center">
                <!-- col -->
                <div class="col-lg-8 col-md-12 mb-50">
                    <div class="section-title">
                        <h2 class="title">Testimonial</h2>
                        <div class="title-bdr">
                            <div class="left-bdr"></div>
                            <div class="right-bdr"></div>
                        </div>
                        <p>You can see our clients feedback what you say?</p>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /Container -->
        <!-- Container -->
        <div class="container-fluid">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-lg-12">
                    <div class="testimonial-item-wrap-1 testimonial-carousel-1">
                        <div class="testimonial-item">
                            <div class="testimonial-author">
                                <img src="/static/assets/images/team/team-2.png" alt="small-avatar">
                                <h3 class="author__title">Jack Hardson</h3>
                                <span class="author__meta">Indonesia</span>
                                <span class="author__rating">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                </span>
                            </div>
                            <div class="testimonial-desc">
                                <p class="testimonial__desc">
                                   Sudah sangat bagus dan sesuai. 
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-author">
                                <img src="/static/assets/images/team/team-2.png" alt="small-avatar">
                                <h3 class="author__title">Mike Wood</h3>
                                <span class="author__meta">Indonesia</span>
                                <span class="author__rating">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                </span>
                            </div>
                            <div class="testimonial-desc">
                                <p class="testimonial__desc">
                                   Berkat website ini, saya jadi lebih mudah dalam mengelola keuangan saya.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-author">
                                <img src="/static/assets/images/team/team-2.png" alt="small-avatar">
                                <h3 class="author__title">Mike Hardson</h3>
                                <span class="author__meta">Indonesia</span>
                                <span class="author__rating">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star-half-o"></i>
                                </span>
                            </div>
                            <div class="testimonial-desc">
                                <p class="testimonial__desc">
                                   Mantap dan bagus untuk mereka yang sulit dalam pengelolaan keuangan pribadi.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-author">
                                <img src="/static/assets/images/team/team-2.png" alt="small-avatar">
                                <h3 class="author__title">Daniel Ward</h3>
                                <span class="author__meta">Indonesia</span>
                                <span class="author__rating">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                </span>
                            </div>
                            <div class="testimonial-desc">
                                <p class="testimonial__desc">
                                   Saya rasa masih ada fitur yang kurang meski sudah bagus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Testimonial -->


    <!-- Footer -->
    <footer class="footer-style bg-gray-100 pt-200">
        <!-- Container -->
        <div class="container">
            
            <div class="footer-middle-area mt-30 pb-30 pt-60">
                <!-- row -->
                <div class="row">
                    <!-- col -->
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-wrapper mb-30">
                            <h3 class="footer-title">About Us</h3>
                            <div class="footer-text">
                                <p>Dengan pencatatan, analisis, dan prediksi keuangan anda, kami berharap dapat membantu anda dalam melakukan pengelolaan keuangan anda </p>
                            </div>
                            <div class="footer-icon">
                                <a href="https://www.facebook.com/profile.php?id=100023804071745"><i class="uil uil-facebook-f"></i></a>
                                <a href="https://twitter.com/DhoniHanif"><i class="uil uil-twitter"></i></a>
                                <a href="https://www.instagram.com/dhoni_hanif/"><i class="uil uil-instagram-alt"></i></a>
                                <a href="https://www.youtube.com/channel/UCcoMAmHT-tJEGo0uIt15W_w"><i class="uil uil-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-wrapper mb-30">
                            <h3 class="footer-title">Services</h3>
                            <div class="footer-link">
                                <ul>
                                    {% if username != "Admin" %}
                                    <li><a href="/pencatatan">Pencatatan</a></li>
                                    <li><a href="/analisis_pemasukkan">Analisis</a></li>
                                    <li><a href="/prediksi_pemasukkan">Prediksi</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    {% else %}
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/lihat_premium">premium</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <!-- /col -->
                    
                </div>
                <!-- /row -->
            </div>
            
        </div>
        <!-- /Container -->
    </footer>
    <!-- /Footer -->

    <!-- Go top -->
    <div class="go-top-area">
        <div class="go-top-wrap">
            <div class="go-top-btn-wrap">
                <div class="go-top go-top-btn">
                    <i class="las la-angle-double-up"></i>
                    <i class="las la-angle-double-up"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- /Go top -->

    <!-- JS -->

    <!-- Vendor Js -->
    <script src="/static/assets/js/vendors.js"></script>
    <!-- /Vendor js -->

    <!-- Plugins Js -->
    <script src="/static/assets/js/plugins.js"></script>
    <!-- /Plugins Js -->

    <!-- Main JS -->
    <script src="/static/assets/js/main.js"></script>
    <!-- /Main JS -->

    <!-- /JS -->

</body>

</html>


